/*音乐插件外包*/
.contents {
    width: 100%;
    padding: 0, 5%;

    border-radius: 25px;
    background-color: #bdff94;
}

/*控制台外部div*/
#consoleBar {
    width: 100%;

    border-radius: 0 0 25px 25px;
    background-color: #92f7f6;
}

/*播放控制按钮*/
#consoleBar span {
    margin: 0 30px;
    padding: 0 30px;

    background-color: #fff;
}

/*播放列表样式*/
#musicList {
    overflow: auto;

    min-height: 100px;
    max-height: 200px;
    margin: 0 10px 10px;
    padding: 15px 0;

    border: 5px;
    border-color: #f00;
}

.musicItem {
    display: block;

    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #f3ca5b;
}

/*播放中的歌曲选项样式*/
.playing {

    background-color: #ffcb3e;
}

.musicItem:hover {
    cursor: pointer;

    background-color: #fff;
}


.icon {
    overflow: hidden;

    width: 8em;
    height: 8em;

    vertical-align: -.15em;

    fill: currentColor;
}

.icon:hover {
    color: #fff;
    background-color: #000;
}

#icon-jiantouzuo {
    transform: rotateY(180deg);
}

#cmbox {
    width: 100%;
    height: 25%;

    background-color: #fff;
}
