<div>
    <%= main%>
    <% list.forEach(item=>{ %>
       <div>
          <%= item %>
       </div>
    <% }) %>
    <% if (list) { %>
        <div>
            <%=list[0]%>
        </div>
    <% } %>
</div>