<!DOCTYPE html>
<html lang="en">
    <%= require('./components/header/header.ejs')()%>
<body>
    <div>
        <%= require('./components/nav/nav.ejs')()%>
    </div>
    <span><%= ccvb %></span>
</body>
</html>